.footer {
  margin-top: 20px;

  &__share {
    display: block;
  }

  &__controls {
    margin-top: 25px;

    .link {
      display: flex;
    }
  }

  &__copyright {
    p {
      margin-top: 15px;
      margin-bottom: 0;
      font-weight: 500;
      font-size: 16px;
    }
  }
}
