include ../page-list/_page-list
include ../_head
include ../_header
include ../_footer
include ../_icons
include ../_buttons
include ../_inputs
include ../_login-other-services
include ../_login-box-footer

doctype html
html(lang='en')
  head
    block head

  body
    block body

    block scripts
      script(src='js/main.js')
