.button {
  @include flex-inline-center;
  margin-top: 13px;
  border-radius: 25px;
  font-size: 16px;
  font-weight: $font-weight-bold;
  background: $black;
  height: 46px;
  color: $white;
  padding: 10px;
  border: 1px solid $black;

  &:hover {
    color: $white;
  }

  &--blue {
    background: $blue;
    border: 1px solid $blue;
  }

  &--big {
    width: 165px;
    height: 44px;
  }

  &--login {
    width: 200px;
    height: 46px;
    border: 1px solid $light-grey;
    background: $white;
    font-weight: $font-weight-base;
    border-radius: unset;
    margin: 5px auto;
    padding: 5px;
    @include flex-center-ver;
    color: $black;

    img {
      width: 30px;
      height: 30px;
      margin-right: 10px;
    }
  }
}
